body {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-color: rgb(41,41,43);
}

td {
    padding: 0;
}

button {
    width: 50px;
    height: 50px;
    margin: 0;
    border-width: 0.5px;
    background-color: rgb(118,107,106);
    color: #ffffff;
    font-size: 15px;
}

input {
    width: 200px;
    height: 80px;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    background-color: rgb(40,40,43);
    color: #ffffff;
    border-width: 0;
    text-align: right;
    border-radius: 10px 10px 0 0;
}

button#zero {
    width: 100px;
    border-radius: 0 0 0 10px;
}

button#equal {
    border-radius: 0 0 10px 0;
}

div#outer-panel {
    margin: 200px;
    text-align: center;
}

div.row {
    display: block;
}

button.arithmetic {
    background-color: rgb(254,160,10);
}

button.top-row {
    background-color: rgb(60,60,63);
}